<div id="collections-page">
  <div id="collections-wrapper">
    <div class="box">
      <div class="kit-image center-content">
        I am An Image
      </div>
      <div class="Kit-info center-content">
        <div>Name</div>
        <div>Rating</div>
      </div>
    </div>
  </div>
</div>