:root {
  --footer-height: 30px;
  --body-container-height: calc(100% - var(--footer-height))
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.link-default {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.link-default:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  text-decoration: underline;
}
.link-default:focus {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  outline: black;
}
.button-default:hover {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.466);
}
.button-default:focus {
  box-shadow: 0 0 0 5px black;
}
#navbar {
  height: 60px;
  background-color: #ddd;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navigation > a {
  margin: 2px;
}
#account {
  justify-self: flex-start;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
#account button {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: rgb(209, 209, 209);
}
#account-button-container {
  position: relative;
}
#account-housing {
  display: none;
  position: absolute;
  right: 100%;
  top: 0;
  background-color: dimgray;
  height: 250px;
  padding: 10px;
}
#account-housing > * {
  margin: 5px;
}
#account-housing input {
  width: 200px;
}
#submit-button {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
#navigation {
  width: 50%;
}
.home {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}





/* GUNPLAS_INDEx________________________________  */
.top-grid, .mid-grid {
  margin-top: 5px;
}
/* TOP GRID------------------------------------ */
.top-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px 5px;
  grid-template-rows: 236px 236px;
}
.top-grid .box-2 {
  grid-column: 2/5;
  grid-row: 1/3;
}
.top-grid > div {
  background:#eee;
  padding: 1em;
}
/* every other */
.top-grid > div:nth-child(odd) {
  background:#ddd;
}
@media only screen and (max-width: 1200px) {
  .top-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 236px);
  }
  .top-grid .box-2 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
/* MID GRID -----------------------------------*/
.mid-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px 5px;
  grid-template-rows: 236px 236px;
}
.mid-grid .box-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.mid-grid > div {
  background:#eee;
  padding: 1em;
}
/* every other */
.mid-grid > div:nth-child(odd) {
  background:#ddd;
}
@media only screen and (max-width: 1200px) {
  .mid-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:  repeat(5, 236px);;
  }
  .mid-grid .box-1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}




/* GUNPLA SHOW ______________________________________________________ */

/* TOP GRID------------------------------------ */
.figures .top-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 236px);
}
.figures .top-grid .box-1 {
  grid-column: 1/4;
  grid-row: 1/5;
}
.figures .top-grid .box-2 {
  grid-column: 4/6;
  grid-row: 1/5;
}
.figures .top-grid > div, .review {
  background:#eee;
  padding: 1em;
}
.figures .top-grid > div:nth-child(odd), .review:nth-child(odd)  {
  background:#ddd;
}
@media only screen and (max-width: 1200px) {
  .figures .top-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 236px);
  }
  .figures .top-grid .box-1 {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .figures .top-grid .box-2 {
    grid-column: 1/3;
    grid-row: 4/6;
  }
}
/* BOTTOM-GRID ---------------------------------------- */
.figures .bottom-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 260px);
}
.figures .bottom-grid > div {
  background:#eee;
  padding: 1em;
}
.figures .bottom-grid > div:nth-child(odd) {
  background:#ddd;
}
@media only screen and (max-width: 1200px) {
  .bottom-grid :is(.box-5,.box-6,.box-7,.box-8) {
    display: none;
  }
  .figures .bottom-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 300px);
  }
}
/* REVIEWS ------------------------------------------------------------------------- */
.reviews {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.review {
  display: grid;
  box-shadow: 0 0 1px black;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(300px, auto);
  grid-template-rows: 100%;
}
.review-info-container {
  background-color: rgb(158, 158, 158);
  grid-column: 1/3;
}
.review-info {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.review-info .avatar {
  grid-column: 1/4;
  grid-row: 1/4;
}
.review-info .author-username,
.review-info .author-signed-up,
.review-info .how-many-posts {
    display: flex;
    align-items: center;
    justify-content: center;

}
.review-info .author-username {
  grid-column: 4/6;
  grid-row: 1/2;
}
.review-info .author-signed-up {
  grid-column: 4/6;
  grid-row: 2/3;
}
.review-info .how-many-posts {
  grid-column: 4/6;
  grid-row: 3/4;
}
.review .review-body,
.review-info .author-bio {
  padding: 20px;
  background-color: #e8edeb;
  color: black;
}
.review-info .author-bio {
  grid-column: 1/6;
  grid-row: 4/7;
}
.review-body {
  padding: 20px;
  grid-column: 3/6;
}
@media only screen and (max-width: 1000px) {
  .review {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 140px auto;
    grid-auto-rows: minmax(300px, auto);
  }
  .review-info-container {
    background-color: rgb(158, 158, 158);
    grid-row: 1/1;
  }
  .review-info {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .review-info .avatar {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .review-info .author-username,
  .review-info .author-signed-up,
  .review-info .how-many-posts {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .review-info .author-username {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .review-info .author-signed-up {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .review-info .how-many-posts {
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .review-info .author-bio {
    display: none;
  }
  .review-body {
    grid-column: 1/4;
  }
}




/* REVIEWS NEW___________________________________________ */
/* FORM-GRID-------------------------------------------- */
.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
}
.form-grid .box-1 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.form-grid .box-2 {
  grid-column: 3/5;
  grid-row: 1/6;
}
.form-grid .box-3 {
  grid-column: 1/3;
  grid-row: 2/6
}
.form-grid .review {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.form-grid textarea {
  height: 50%;
  margin: 1%;
  resize: none;
  font-size: 24px;
  font-family: monospace;
}
.form-grid input {
  height: 5%;
  margin: 1%;
  resize: none;
}
@media only screen and (max-width: 1000px) {
  .form-grid .box-1 {
    grid-column: 1/6;
    grid-row: 2/4;
  }
  .form-grid .box-2 {
    grid-column: 1/6;
    grid-row: 1/3;
  }
  .form-grid .box-3 {
    grid-column: 1/6;
    grid-row: 3/7
  }
}