<div class="form-page-container">
  <div class="form-grid">
    <div class='box-1 center-content'>
      Gungpla info?
    </div>
    <div class='box-2 center-content'>
      GUNGPLA PHOTO HERE
    </div>
    <div class='box-3'>
      <form class='review'>
        <label>Title</label>
        <input type="text"/>
        <textarea type="text">
        </textarea>
      </form>
    </div>
  </div>
</div>